:root {
    --bg-dark: #050b14;
    --panel-bg: #0f172a;
    --accent: #06b6d4;
    --text-main: #ffffff;
    --text-muted: #64748b;
    --success: #22c55e;
    --danger: #ef4444;
    --warning: #fbbf24;
    --border-radius: 16px;
    --font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    padding: 0;
    position: relative;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.text-success { color: var(--success) !important; }
.text-warning { color: var(--warning) !important; }
.text-danger { color: var(--danger) !important; }
